.notfoundlayout-container{
    position: relative;
    width:100vw;
    height:100vh;
    overflow: hidden;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.notfoundlayout-container h1{
    font-size:128px;
    margin:32px;
}
.notfoundlayout-container h2{
    font-size:32px;
    margin:12px;
}