
.markdown{
    background-color: #ddd;
    margin:0px;
    /* padding:20px; */
    min-height: 75vh;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding-top:75px;
    padding-bottom: 100px;
}
.markdown h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    margin:10px;
    font-size:48px;
}
.markdown h2{
    margin:8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1.5px;
    font-weight: 600;
    border-left: solid 1rem #555;
    padding-left: 0.5rem;
    border-bottom: solid 2px  #555;
    font-size:32px;
}
.markdown h3{
    margin:5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    font-size:24px;
    border-left: solid 0.75rem #777;
    padding-left:0.4rem;
}
.markdown h4{
    font-size:20px;
    border-left: solid 2px #888;
}
.markdown hr{
    width:100%;
    margin:5px auto;
    height:0px;
    border-radius: 1px;
    border: solid 1px grey;
}
.markdown p{
    margin:1px;
}
.markdown img{
    margin-left:auto;
    margin-right:auto;
}
.markdown p img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.markdown pre{
    position: relative;
    margin:5px;
    margin-left:auto;
    margin-right:auto;
}
.markdown code{
    margin:5px;
    padding:3px;
    border-radius:5px;
    background-color: antiquewhite;
}
.markdown .hljs::before{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    font-weight: 500;
    top:0px;
    right:40px;
    z-index:100;
    font-size:6px;
    line-height: 10px;
    padding-left: 6px;
    padding-right:6px;
    padding-bottom: 2px;
    height:14px;
    background-color: #ddd;
    color:#555;
    border-radius: 0px 0px 3px 3px ;
    border-left:solid 1px #aaa;
    border-right:solid 1px #aaa;
    border-bottom:solid 1px #aaa;
}
.markdown .language-mermaid{
    background-color: transparent;
}
.markdown .language-python::before{
    background-color:  #2980b9 ;
    color:#fdfdfd;
    content:"Python"
}
.markdown .language-c::before{
    background-color: #fdfdfd;
    color:#555;
    content:"C"
}
.markdown .language-javascript::before{
    background-color:#F4D03F;
    color:#555;
    content:"JS"
}
.markdown .language-bash::before{
    background-color: #27ae60;
    color:#fdfdfd;
    content:"Bash"
}

.markdown table{
    margin: 5px auto;
    border-radius: 3px;
    border-spacing: 0px;
    border:solid grey;
    border-right:2px;
    border-bottom:2px;
}

.markdown table th, td{
    border:solid grey;
    border-left:2px;
    border-top:2px;
    padding:3px 6px;
}
.markdown thead tr{
    background-color: #ccc;
}
.markdown tbody tr:nth-child(2n+1){
    background-color: #ddd;
}
.markdown tbody tr:nth-child(2n){
    background-color: #aaa;
}
.markdown .mermaid{
    margin:0px auto;
}
.markdown blockquote{
    border-left: 0.3rem solid rgb(175,122,197);
    padding-left: 1em;
    color: #666;
    background-color: #eee;
}