.container{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: rgba(50,50,50,0.9);
}
.text{
    font-size:100px;
    color:#fdfdfd;
    font-weight: 800;
}
