.container{
    position: fixed;
    height:100vh;
    width:100%;
}
.background{
    position:relative;
    z-index:-10;
    width:100%;
    height:100%;
    transition: all .3s ease;
}
.background::after{
    content:'';
    position: absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
}
.svg {
    /* border: solid 1px #ccc; */
    --link-color:#fdfdfd;
    --circ-color:#bbb;
    position:fixed;
    top:0px;
    left:0px;
    z-index: -1;
    transition:all .5s ease;
}
.tree-link {
    /* color:#fdfdfd; */
    fill: none;
    stroke: var(--link-color);
    stroke-width: 1.5px;
}   
.tree-node{
    fill:var(--circ-color);
    
} 
.tree-text-ipy,
.tree-text-md,
.tree-text-dir{
    font-size: 12;
    font-family: serif;
    transition: all .3s ease;
}
.tree-text-ipy{
    fill:#fdfdfd;
}
.tree-text-md{
    fill:#fdfdfd;
}
.tree-text-dir{
    fill:#345;
}
.tree-circ-ipy,
.tree-circ-md,
.tree-circ-dir{
    stroke: var(--circ-color);
    stroke-width: 2px;
    transition: all .4s ease;
}

.tree-circ-ipy{
    fill:hsl(201,75%,40%);
}
.tree-circ-md{
    fill:#345;
}
