.output{
    color:#fdfdfd;
    position: relative;
    margin:20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text{
    align-self: flex-start;
}