.pdf-render{
    --toc-width:400px;
    --toc-font-color:#fdfdfd;
    --toc-bg-color:rgba(0,0,0,0.5);
    position:relative;
    width:100%;
    height:100vh;
}
.outline-wrapper{
    position: fixed;
    height:100%;
    width:var(--toc-width);
    z-index:10;
    transition: all .3s ease;
    color:var(--toc-font-color);
    background-color: var(--toc-bg-color);
}
.outline-wrapper-close{
    transform: translateX(-100%);
}
.icon{
    --size:42px;
    position: absolute;
    right:calc(0px - var(--size));
    bottom: calc(var(--size) / 2);
    width:var(--size);
    height:var(--size);
    background-color: var(--toc-bg-color);
    transition: all .4s ease  ;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.icon::after{
    display: block;
    content:'';
    width:100%;
    height:100%;
    background-image:url('../../../../public/icons/arrow.svg');
    background-size: cover; 
    transform: rotateY(180deg);
    transition:  all .4s ease;
}
.icon:hover{
    cursor: pointer;
}
.outline-wrapper-close .icon{
    border-radius: calc(var(--size) / 2);
    transform: translateX(50%);
}
.outline-wrapper-close .icon::after{
    transform: rotateY(0deg);
}
.outline{
    position: relative;
    top:var(--navbar-height);
    height:calc(100% - var(--navbar-height));
    width:100%;
    overflow-y: scroll;
}

.pages{
    position: relative;
    top:var(--navbar-height);
    width:100%;
    height:calc(100% - var(--navbar-height));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page-wrapper{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease;
}

.page-wrapper-enter,
.page-wrapper-enter canvas {
    transform: translate(100%, 0);
    opacity: 0;
  }
  
.page-wrapper-enter-active,
.page-wrapper-enter-active canvas {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 500ms;
  }
  
.page-wrapper-exit,
.page-wrapper-exit canvas {
    transform: translate(0, 0);
    opacity: 1;
  }
  
.page-wrapper-exit-active,
.page-wrapper-exit-active canvas {
    transform: translate(-100%, 0);
    opacity: 0;
    transition: all 500ms;
  }
.page{
    transition: all .3s ease;
    transform-origin: center center;
}
.prev-page{
    position: absolute !important;
    z-index: 1;
}
.bottom{
    color:#666;
    position: fixed;
    left:50%;
    bottom: 0px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.prev,
.next{
    margin:16px;
    width:32px;
    height:32px;
    mask-image:url('../../../../public/icons/arrow.svg');
    mask-size:contain;
    background-color: #666;
}
.prev{
    transform: rotate(180deg);
}
.prev:hover,
.next:hover{
    cursor: pointer;
}




@media screen and (max-width:768px){
    .pdf-render{
        --toc-width:300px;
        --toc-bg-color:rgba(0,0,0,0.85);
    }
}